
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h2>Index .hbs</h2>
    {{> testPart}}
    <p> <strong>{{somethingFromJSON}}</strong> </p>
    <p> <strong>{{# testHelper}}{{/ testHelper}}</strong> </p>
  </body>
</html>
