
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <h2>Index .hbs</h2>
    <p> <strong>{{> testPart}}</strong> </p>
    <p> <strong>{{something}}</strong> </p>
    <p> <strong>{{# testHelper}}{{/ testHelper}}</strong> </p>
  </body>
</html>
