<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <title>Test page</title>
    <meta name="description" content="My purpose is for testing">
    <meta property="og:description" content="My purpose is for testing">
    <meta name="og:title" property="og:title" content="My purpose is for testing">
    <meta property="og:image" content="assets/favicon.png">
    <!--Make this the pages url: ie: www.example.com/index.html-->
    <meta property="og:url" content="localhost:8080/test.html">
  </head>
  <body>
    <h2>Test .hbs</h2>
  </body>
</html>
