<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <title>{{page}} page</title>
    <meta name="description" content="My purpose is for testing">
    <meta property="og:description" content="My purpose is for testing">
    <meta name="og:title" property="og:title" content="My purpose is for testing">
    <meta property="og:image" content="assets/favicon.png">
    <!--Make this the pages url: ie: www.example.com/index.html-->
    <meta property="og:url" content="localhost:8080/test.html">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Have a look in templates/test.hbs , that is what you are seeing, bootstrap included</h2>
          <p><strong>{{page}}</strong> : is from data/test.json because of our npm run getData script</p>
          <p><strong>{{content}}</strong> : is from data/test.json because of our npm run getData script<p>
          <p>{{> testPart}} : is from partials/testPart.hbs<p>
          <p> <strong>{{# testHelper}}{{/ testHelper}}</strong> : is from helpers/testHelper.js</p>
        </div>
      </div>
    </div>
  </body>
</html>
