<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <title>{{page}} page</title>
    <meta name="description" content="My purpose is for testing">
    <meta property="og:description" content="My purpose is for testing">
    <meta name="og:title" property="og:title" content="My purpose is for testing">
    <meta property="og:image" content="assets/favicon.png">
    <!--Make this the pages url: ie: www.example.com/index.html-->
    <meta property="og:url" content="localhost:8080/test.html">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>This is the {{page}} page as per unique data object per page!</h2>
          <p>{{content}}<p>
          {{> testPart}}
          <p> <strong>{{somethingFromJSON}}</strong> </p>
          <p> <strong>{{# testHelper}}{{/ testHelper}}</strong> </p>
          <h2>Lets get bootstrap up in here</h2>
          <button>Im a button</button>
        </div>
      </div>
    </div>
  </body>
</html>
