// @import url('https://fonts.googleapis.com/css?family=Roboto:400');

$font: 'Pacifico', sans-serif;
$fontColour: #383838;
* {
  font-display: block;
}
body {
  background-color: #FFFFFF;
  color: $fontColour;
  font-family: $font;
}

a {
  color: $fontColour;
  text-decoration: underline;
}
