@import url('https://fonts.googleapis.com/css?family=Roboto:400');
$font: 'Roboto', sans-serif;
$fontColour: #383838;

body {
  background-color: #FFFFFF;
  color: $fontColour;
  font-family: $font;
}

a {
  color: $fontColour;
  text-decoration: underline;
}
